* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(156, 217, 255);
    padding: 10px 0;
}

/* INIZIO LAYOUT */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.container-short{
    max-width: 600px;
    margin: 0 auto;
}

.row {
    flex-wrap: wrap;
}

.col-25-short{
    width: 25%;
    height: 30px;
}

.col-50{
    width: 50%;
    height: 30px;
}

.col-100{
    width: 100%;
    height: 250px;
}

.col-60{
    width: 60%;
    height: 250px;
}

.col-40{
    width: 40%;
    height: 250px;
}

.col-100-high{
    width: 100%;
    height: 500px;
}

.col-25{
    width: 25%;
    height: 250px;
}

.col-18{
    width: calc(75% / 4);
    height: 250px;
}

/* FINE LAYOUT */

/* INIZIO UTILITY */
.py-20{
    padding: 20px 0;
}

.pt-5{
    padding-top: 5px;
}

.pb-20{
    padding-bottom: 20px;
}

.mb-1{
    margin-bottom: 1px;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.border-dashed{
    border: 2px dotted black;
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-violet{
    background-color: violet;
}

.bg-white{
    background-color: white;
}

.bg-lightblue{
    background-color: rgb(86, 154, 255);
}

.bg-pink{
    background-color: pink;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: rgb(43, 43, 43);
}

.bg-salmon{
    background-color: salmon;
}

.bg-cyan{
    background-color: cyan;
}
/* FINE UTILITY */